.App {
  position: relative;
  z-index: 1;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-family: "Mountains of Christmas", cursive;
}

.person-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.App.fire {
  width: 200;
  height: 200;
  position: "absolute";
  bottom: "30px";
  right: "30px";
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}
