.App {
  position: relative; /* This ensures that the z-index is applied correctly */
  z-index: 1; /* Higher z-index so it's above the video */
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 10px;
  height: 100vh; /* Set the height to fill the screen */
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.animated-title {
  font-size: 2em;
  animation: bounce 2s infinite;
}
