.App {
  position: relative;
  z-index: 1;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Mountains of Christmas', cursive;
}

.animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; 
}

.App.fire {
  width: 200;
  height: 200; 
  position: 'absolute'; 
  bottom: '30px'; 
  right: '30px'; 
}
